@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200&display=swap');

:root{
  font: size 18px;
  margin: 0;
  padding: 0;
  box-sizing: border;
}
body{
  font-family: "Poppins";
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.DropShadow{
    box-shadow: rgba(149, 157, 165, 0.15) 0px 3px 6px 0px
  }

  .impBgGrey{
    background-color: #242526 !important;
  }

  .makeItTop{
    z-index: 999 !important;
  }

  body{
    background: rgb(236, 236, 236);
    overflow: hidden;
  }
  .app{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box;
  }
  ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}